<div class="row">
  <h1>Book's Search Page</h1>
</div>
<div class="row">
  <%= form_tag("/books", method: "get") do %>
    <%= text_field_tag(:search_field, params[:search_field]) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
<div class="row">
  <% if @books.empty? %>
    <span>No results</span>
  <% else %>
    <ul class="list-group">
      <% @books.each do |book| %>
        <li class="list-group-item">
          <div class="media">
            <img src="<%= book.img_link %>" class="mr-3" alt="<%= book.title %>">
            <div class="media-body">
              <h5 class="mt-0"><%= book.title %></h5>
              <span>Author: <%= book.author %></span>
              <span>Publisher: <%= book.publisher %></span>
              <a href="<%= book.info_link %>" >Learn more here!</a>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

